<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <i class="fas fa-utensils mx-1"></i> <strong>Home</strong>
      <% end %>

      <div>
      
      <% if logged_in? %>

          <a href="" class="text-decoration-none text-white mx-3 navbar-toggle" data-toggle="collapse" data-target="#navbarHeader">
            <i class="fas fa-user-check"></i> <%= current_client.name %>
          </a>

          <%= link_to "clients/logout", class: "text-decoration-none text-white mx-3" do %>
            <i class="fas fa-sign-out-alt"></i> Sign out
          <% end %>

      <% end %>

      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
  <%= render 'shared/toast_message' %>
</header>
