<div id="preAddProduct" class="my-2" style="display: none;">
  <div class="row">
    <div class="col">
      <h5>Confirmation and extras</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>{{name}}</h5>
      <small class="text-right">{{price}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button id="btnCancel" class="btn btn-secondary btn-block">Cancel</button>
      <button id="btnAdd" class="btn btn-primary btn-block">Add</button>
    </div>
  </div>
</div>