<%= render "shared/header" %>

<main role="main">

  <div class="container">
      <h1><%= controller.action_name == 'new' ? 'New Product' : 'Edit Product'  %></h1>
      <div class="row">
        <div class="col-md-12 text-right">
          <%= render 'shared/back_button', link: products_path %>
        </div>
      </div>

      <%= render 'form' %>

  </div>

</main>
